<div class="find-recipes">
  <button [disabled]="!submitted" type="button" class="btn btn-blue-grey btn-lg btn-block" (click)="getRecipes()">Search
    for recipes</button>
</div>

<div *ngFor="let recipe of recipes" class="card">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="{{recipe.imageUrl}}" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">
    <!-- Title -->
    <h4 class="card-title">{{recipe.title}}</h4>
    <!-- Text -->
    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
    <!-- Button -->
    <a href="{{recipe.f2f_url}}" class="btn btn-primary">See recipe</a>

  </div>
</div>