<div class="find-recipes">
  <button 
  
   type="button" class="btn btn-blue-grey btn-lg btn-block"
    (click)="getRecipes(ingredients)">
    {{loading == false ? 'Search for recipes...' : 'Searching...'}}
</button>
</div>
<div class="row"></div>
<div class="row card-group">
  <div class="col-4" *ngFor="let recipe of recipes">
    <div class="card mb-4">
      <div class="view overlay">
        <a href="{{recipe.source_url}}">
          <img class="card-img-top" src="{{recipe.image_url}}" alt="Card image cap">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card-body">
        <h4 class="card-title">{{recipe.title}}</h4>
      </div>
    </div>
  </div>
</div>