<div class="container container-fluid">
    <!-- <div class="jumbotron jumbotron-fluid"> -->
        <div class="site-name">
            <h1 class="display-2">Home Chef</h1>
            <p class="lead">Recipes straight from your fridge</p>
        </div>
</div>
<app-ingredient-form></app-ingredient-form>
<!-- <app-recipe></app-recipe> -->
 
